/* Styles de base */
body {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #77AADD;
  background-image: url(imgs/FONDGLOBAL.jpg);
  background-repeat: repeat-x;
}

/* Container principal */
.container {
  max-width: 1100px; /* Largeur maximale du contenu principal */
  margin: 0 auto; /* Centrage horizontal */
  padding: 10px; /* Espacement intérieur */
  background-color: #fff;
  border: 2px solid black;
}

/* Header */
#entete {
  background-color: rgb(72, 198, 236);
  color: #980101;
  padding: 10px;
  text-align: center;
}
#entete h1 {
  font-size: 24px;
  margin: 0;
}

/* Menu gauche */
#menuGauche {
  background-color: white;
  color: rgb(0, 85, 227);
  padding: 1em;
  width: 14%;
  float: left;
  margin-top: 0.8em;
}

/* Contenu principal */
#contenu {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  border-left: 8px solid #980101;
}

#contenu h2 {
  font-size: 20px;
  font-weight: bold;
  color: #1D2941;
  border-left: 5px solid #6988BE;
  padding-left: 15px;
  background-color: #E9F1FE;
  margin-top: 0;
}

#contenu img {
  height: 28px;
  float: left;
  margin-right: 10px;
}

/* Footer */
#pied {
  background-color: white;
  border: 2px solid #980101;
  padding: 10px;
  clear: both;
  margin-top: 20px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Ajustements pour les écrans de petite taille */
  .container {
    padding: 5px; /* Réduction de l'espacement intérieur */
  }
  
  #menuGauche {
    width: 100%;
    float: none; /* Annulation du flottement */
  }
  
  #contenu {
    margin-left: 0; /* Suppression du décalage à gauche */
    border-left: none; /* Suppression de la bordure à gauche */
  }
}
